In [ ]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Chinook.sqlite')

with engine.connect() as con:
    rs = con.execute('SELECT Title, Name FROM Album INNER JOIN Artist on Artist.ArtistID = Album.ArtistID')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys() # set the column names in df to the column names in the SQL table

# Print head of DataFrame df
print(df.head())